* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
}

#container img {
  max-width: 50%;
  /* position: 90px; */
  /* justify-content: space-between; */
}

#container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 65vh;
  width: auto;
}
#about-container {
  display: flex;
  margin-top: 20px;
  height: 40vh;
}
#school {
  display: flex;
  margin-top: 20px;
  height: 50vh;
}

.instagram {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.github {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.linkedin {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.p#aboutMe {
  color: aqua;
}
.aboutMe {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 30vw;
  left: 20vw;
}
.aboutMeTwo {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 30vw;
  left: 50vw;
}

h1#top {
  color: white;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 150px 1px 1px 1px;
  margin: 25vh 0px 0px 0px;
}

p#sub {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translatey(0px);
  animation: float 5s ease-in-out;
}

#container img {
  transform: translatey(0px);
  animation: float 5s ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  35% {
    transform: translatey(5px);
  }
  50% {
    transform: translatey(-5px);
  }
  75% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Barra de rolagem */

/* Fundo que corre */
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar {
  width: 6px;
  background: white;
}

/* linha que desce */
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 15px;
}

/* Barra de rolagem */
