* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
}

#container img {
  max-width: 50%;
  /* position: 90px; */
  /* justify-content: space-between; */
}

#container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 45vh;
  width: auto;
}
#about-container {
  display: flex;
  margin-top: 20px;
  height: 30vh;
}
#school {
  display: flex;
  margin-top: 20px;
  height: 50vh;
}

.instagram {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.github {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.linkedin {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.scrool {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrool img {
  width: 50px;
  height: auto;
  border-radius: 10px;
  animation: float 2s ease infinite;
}
#seta {
  transition: opacity 0.5s ease; /* Transição suave de opacidade */
}
.p#aboutMe {
  color: aqua;
}
.aboutMe {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 30vw;
  left: 20vw;
}
.aboutMeTwo {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 30vw;
  left: 50vw;
}

h1#top {
  color: white;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 150px 1px 1px 1px;
  margin: 25vh 0px 0px 0px;
}

p#sub {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0px;
}


.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translatey(0px);
  /* animation: float 5s ease infinite; */
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  35% {
    transform: translatey(5px);
  }
  50% {
    transform: translatey(-5px);
  }
  75% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Barra de rolagem */

/* Fundo que corre */
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar {
  width: 6px;
  background: white;
}

/* linha que desce */
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 15px;
}

/* Barra de rolagem */

.aboutImg {
  position: absolute;
  bottom: 50px;
  right: 110%;
  opacity: 0;
  transform: translateX(-50px);
  visibility: hidden;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, visibility 0s 1s;
}

.aboutText:hover + .aboutImg {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s;
}

.aboutLeftImg {
  position: absolute;
  bottom: 50px;
  left: 120%;
  opacity: 0;
  transform: translateX(50px);
  visibility: hidden;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, visibility 0s 1s;
}

.aboutLeft:hover + .aboutLeftImg {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s;
}

.aboutImg img {
  box-shadow: 4px 3px 5px gray;
  border-radius: 15px;
  
}